<a href="https://crm.kingjourney.com/docusign/exchange-index.php?id=1036&amp;label=1739039617&amp;cch=Paul%20Aaron%20Schultz&amp;agent=Allan&amp;to_email=kjkschultz@gmail.com&amp;booking_type=2"
    style="color:white;background-color:green;padding:8px;border:1px solid black;text-decoration:none" target="_blank"
    data-saferedirecturl="https://www.google.com/url?q=https://crm.kingjourney.com/docusign/exchange-index.php?id%3D1036%26label%3D1739039617%26cch%3DPaul%2520Aaron%2520Schultz%26agent%3DAllan%26to_email%3Dkjkschultz@gmail.com%26booking_type%3D2&amp;source=gmail&amp;ust=1739128374639000&amp;usg=AOvVaw0BKE9HWBuH9LY0gP7cUU3S">I
    Acknowledge</a>