<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title> Agent sidebar  </title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="assets/css/app.min.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">      
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="dashboard">
                <!-- <img alt="image" src="assets/img/logo.png" class="header-logo" /> -->
                <span class="logo-name">Agent</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="index.html" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Leads</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="widget-chart.html">My Leads</a></li>
                <li><a class="nav-link" href="widget-data.html">Pending Leads</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Bookings</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/all_booking">All Bookings</a></li>
                <li><a class="nav-link" href="/booking_list">New Booking</a></li>
                <li><a class="nav-link" href="portfolio.html">Exchange</a></li>
                <li><a class="nav-link" href="blog.html">Refund</a></li>
                <li><a class="nav-link" href="calendar.html">Future Credit</a></li>
                <li><a class="nav-link" href="calendar.html">Seat Upgrade</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>Reporting Tools</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="email-inbox.html">Live Performance</a></li>
                <li><a class="nav-link" href="email-compose.html">MCO sheet</a></li>
                <li><a class="nav-link" href="email-read.html">Agent Lead Box</a></li>
              </ul>
            </li>
            <li class="menu-header">CRM Settings</li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>PNR List</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="alert.html">Follow up's</a></li>
                <li><a class="nav-link" href="badge.html">DocuSign List</a></li>
                <li><a class="nav-link" href="breadcrumb.html">Potential Deductions</a></li>
                <li><a class="nav-link" href="buttons.html">Online Worksheet</a></li>
                <li><a class="nav-link" href="collapse.html">Upcoming Travel</a></li>
                <li><a class="nav-link" href="dropdown.html">Cloud Inbox</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="shopping-bag"></i><span>HRM Tools</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="avatar.html">Apply Leaves</a></li>
                <li><a class="nav-link" href="card.html">My Leaves</a></li>
                <li><a class="nav-link" href="modal.html">Break History</a></li>
                <li><a class="nav-link" href="sweet-alert.html">Attendence</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="assets/js/custom.js"></script>
</body>

</html>